.chat-room {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgba(221, 209, 194, 0.4);
  border-radius: 0.5em;
  width: 80%;
  height: 30em;
  margin: 10% auto;
  padding: 0;
}

.messages-list {
  grid-area: 1 / 1 / 6 / 4;
  background-image: url('https://thumbs.dreamstime.com/b/mobile-apps-pattern-white-background-50171276.jpg');
}
.message-input {
  grid-area: 6 / 1 / 7 / 4;
  margin: auto;
  padding: 0.25em;
  width: 90%;
}
.members-list {
  grid-area: 1 / 4 / 7 / 6;
}
