.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Didact Gothic';
  width: 100%;
  background-color: rgb(10, 7, 54);
  color: antiquewhite;
}

.nav-bar li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar .logout-nav:hover {
  background-color: antiquewhite;
  color: rgb(10, 7, 54);
}

.logo {
  margin: auto;
  width: 20em;
  align-self: center;
  float: left;
}
.nav-bar .user-nav {
  font-weight: bold;
  font-size: 1.5em;
  float: right;
}

.nav-bar .logout-nav {
  font-size: 1.5em;
  float: right;
  cursor: pointer;
}

.switch-nav {
  display: none;
}

@media screen and (max-width: 992px) {
  .logo {
    margin: auto;
    width: 15em;
    align-self: center;
    float: left;
  }
  .nav-bar .user-nav {
    font-weight: bold;
    font-size: 1em;
    float: right;
  }

  .nav-bar .logout-nav {
    font-size: 1em;
    float: right;
    cursor: pointer;
  }
  .members:before {
    font-family: 'Font Awesome 5 Free';
    font-size: 1.3em;
    content: '\f007';
  }
  .chat:before {
    font-family: 'Font Awesome 5 Free';
    font-size: 1.3em;
    color: antiquewhite;
    content: '\f075';
  }
  .members:hover,
  .chat:hover {
    background-color: antiquewhite;
    color: rgb(10, 7, 54);
  }
}
