body {
  background-image: linear-gradient(90deg, #2f3242, #6f7697);
  background-size: 100%;
  font-family: 'Didact Gothic';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
